<div class="container margin50">
  <div class="row">
    <div class="span8 offset2">
       <% if @results.empty? %>
        <h1 class="resultTitle">sorry we can't find anything for that movie.</h1>
        <%= link_to "Back To Search", root_path, :class => 'backButton' %>
       <% end %>

      <% @results.each do |r| %>
         <h1 class="resultTitle"><%= r["title"] %></h1>
        <% if r["release_date"] %>
         <h3 class="releaseDate">Released: <%= r["release_date"] %></h3>
      <% end %>

      <div class="thumbnail">
       <img class="poster" src=<%= @image + r["image"] %>/>
      <%= will_paginate @results, :inner_window => 1, :outer_window => 1, :renderer => BootstrapPagination::Rails %>
      </div>
      <%= link_to "Back To Search", root_path, :class => 'backButton' %>
      <% end %>



    </div>
  </div>
</div>



